# CH552 bootloader (for unprogrammed CH552 chips)
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="4348", ATTR{idProduct}=="55e0", MODE="0660", GROUP="dialout"

# TP-1 programmer (USB mode)
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="cafe", ATTR{idProduct}=="4010", MODE="0660", GROUP="dialout"
