# Host Communication
set_io HOST_SS      28
set_io HOST_SCK     27
set_io HOST_MOSI    26
set_io HOST_MISO    25

set_io HOST_EXTRA1  23
set_io HOST_EXTRA2  21
set_io HOST_EXTRA3  20
set_io HOST_EXTRA4  19
set_io HOST_EXTRA5  18
set_io HOST_EXTRA6  13
set_io HOST_EXTRA7  12
set_io HOST_EXTRA8  11
set_io HOST_EXTRA9  10
set_io HOST_EXTRA10 9

# USB
#set_io INT_USB_D-   46
#set_io INT_USB_D+   47
#set_io INT_USB_PU   48

set_io INT_CLOCK    44

# Expansion
set_io INT_GPIO1    38
set_io INT_GPIO2    37
set_io INT_GPIO3    36
set_io INT_GPIO4    35

## User IO
set_io RGB0         39
set_io RGB1         40
set_io RGB2         41
