# Host Communication
set_io RX 25
set_io TX 26
set_io CTS 27
set_io RTS 28

# Expansion
set_io APP_GPIO1    36
set_io APP_GPIO2    38
set_io APP_GPIO3    45
set_io APP_GPIO4    46

## User IO
set_io TOUCH_EVENT  6

set_io RGB0         39
set_io RGB1         40
set_io RGB2         41
